@import "../../variables";

.scroll_sec {
  
    opacity: 0;
    transition: opacity 0.5s ease;

    &.visible {
        opacity: 1;
    }

    .scroll_box {
        display: flex;
        align-items: center;
        justify-content: center;
        
        
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 99;

        font-size: 20px;
        height: 35px;
        width: 35px;

        background-color: $white-1000;
        border-radius: 50%;
        box-shadow: 2px 2px black;
        border: 2px solid black;
        color: $accent-color;
        cursor: pointer;

        transition: all 0.3s ease-in-out;

        .up_icon {
            margin-top: 5px;
            transition: all 0.1s ease-in-out;
        }

        &:hover {
            transform: translate(-3px,-3px);
            background-color: $accent-color;
            box-shadow: 3px 3px black;

            color: $white-1000;

            .up_icon {
                margin-top: 2px;
            }
        }

        &:active {
            transform: translate(0px,0px)  scale(0.8);
            box-shadow: 1px 1px black;
            
        }
    }
 
   
}
