:root
{
    --bg-light:#232323;
    --bg-main:#131416;
    --text-high:#d88135;
    --text-low:rgba(255, 255, 255, 0.721);
    --white:#fff;

}

/*!----------------######## Portfolio section ends #######------------------- */

.port_cls {
    /* min-height: 100vh; */
    background-color: #46595a; 
}











/*!----------------######## Portfolio section ends #######------------------- */