@import "../../variables";

/*!----------------######## Portfolio section ends #######------------------- */

.port_cls {
  background-color: $newbw;
  color: black;
}

/* ?------------------- filter button  -e -------------------- */

.port_filter {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0px;
  text-align: center;
  justify-content: center;
  margin-bottom: 10px;
  z-index: 1;

  button {
    text-transform: uppercase;
    padding: 3px 6px;
    margin: 10px;
    border-radius: 5px;
    // box-sizing: border-box;
  }

  .activeTab {
    background: $white-1000;
    box-shadow: $box-shadow-low;
  }
}

/* ?------------------- filter button -e -------------------- */

.imgBox {
  position: relative;

  .proj-title {
    margin-bottom: 10px;
    z-index: 11;
    border-bottom: 1px solid black;


    h4 {
      display: inline;
      font-size: 1.25rem;
    }
    h6 {
      display: block;
      font-size: 14px;
      width: 70%;
    }

    span {
      z-index: 11;
      float: right;
      display: block;
      margin-top: -20px;
      .proj_info_btn {
        padding: 1px 5px;
      }
    }
  }

  img {
    display: block;
    border: 1px solid black;
    border-radius: 10px;
    width: 100%;
    height: 250px;
    margin-bottom: 10px;
    z-index: 1;
  }

  .btn-box {
    z-index: 11;
    display: flex;
    justify-content: space-between;

    button {
      padding: 5px 10px;
    }
  }
}

// ----Hover Effect----

.port_cls {
  .card {
    
    &:hover {
      .proj-title {
        h4,
        h6:not(span) {
          -webkit-animation: slideTop 0.7s ease-in-out 0s 1 normal none running !important;
          animation: slideTop 0.7s ease-in-out 0s 1 normal none running !important;
          color: #fff;
        }
        h4 {
          color: $accent-color;
        }
      }

      .btn-box {
        -webkit-animation: slideTop 0.7s ease-in-out 0s 1 normal none running !important;
        animation: slideTop 0.7s ease-in-out 0s 1 normal none running !important;
        color: #fff;
      }
    }
  }
}
// --------------------------
.details {
  display: block;
  position: absolute;
  padding: 10px;
  background: $grad-main;
  margin-top: 10px;
  top: calc(100% - 13px);

  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.4s ease-in-out;

  p {
    color: $white-1000;
    font-weight: 600;
  }

  &.show {
    top: 17%;
  }
}

/*!----------------######## Portfolio section ends #######------------------- */

@media (max-width: 430px) {
  .port_filter {
    button {
      margin: 7px;
    }
  }
}

@keyframes slideTop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(15px);
    transform: translateY(15px);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
