/*!----------------######## sk1: Skill section starts #######------------------- */
@import "../../variables";
@import "../../index.scss";

.skill_cls {
  background-color: $skill-bg;
  padding: 10px 10px;
}


.heading {
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  transition: all 0.3s ease-in-out;

  .skill-type-icon {
    color: $accent-color;
    font-size: 2.5rem;
    margin-right: 10px;
    align-items: center;
    display: flex;
    transition: all 0.5s ease-in-out;
  }

  h3 {
    color: $accent-color;
    float: right;
    font-size: 1.5rem;
    font-weight: 800;
    /* line-height: 2rem; */
    transition: all 0.5s ease-in-out;
  }

  h3::after {
    display: block;
    background: $white-1000;
    bottom: 0;
    content: "";
    height: 3px;
    left: 0;
    width: 30px;
    border-radius: 10px;
  }
}

.card {
  p {
    margin: 15px 0;
    transition: all 0.5s ease-in-out;
  }

  h4 {
    font-size: 15px;
    transition: all 0.5s ease-in-out;
  }

  .skill-icons-box {
    display: flex;
    flex-wrap: wrap;
    background-color: $accent-color;
    border-radius: 5px;
    padding: 5px;
    transition: all 0.5s ease-in-out;

    & > * {
      margin: 5px;
      flex: 1 1 20%;
      border: 1px solid black;
    }
    .skill-icon {
      padding: 2px;
      font-size: 27px;
      text-align: center;
      transition: all 0.5s ease-in-out;
    }

    h5 {
      margin-top: -5px;
      font-size: 8px;
      font-weight: 600;
      color: $text-low;
      transition: all 0.5s ease-in-out;
    }
  }
}

.card:hover {
  color: $white-1000;
  // transform:scale(1.03);

  .skill-icons-box {
    background-color: $white-1000;
  }
  .skill-icon,
  h5 {
    color: $accent-color;
    transform: scale(1.1);
  }
  .skill-type-icon,
  h3 {
    transform: scale(1.1);
    color: $white-1000;
  }
  p,
  h4 {
    transform: scale(0.95);
  }
}


