/*!----------------######## sk1: Skill section starts #######------------------- */
@import "../../variables";
@import "../../index.scss";

.skill_cls {
  // background-color: $skill-bg;
}

.card {
  .heading {
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    transition: all 0.3s ease-in-out;

    h3 {
      color: $accent-color;
      float: right;
      font-size: 1.5rem;
      font-weight: 800;
      transition: all 0.5s ease-in-out;
    }

    h3::after {
      display: block;
      background: $accent-color;
      bottom: 0;
      content: "";
      height: 3px;
      left: 0;
      width: 50px;
      border-radius: 10px;
      transition: all 0.7s cubic-bezier(0.06, 0.21, 0.93, 0.04);
    }
  }

  p {
    margin: 15px 0;
    transition: all 0.5s ease-in-out;
  }

  h4 {
    font-size: 15px;
    transition: all 0.5s ease-in-out;
  }

  .skill-icons-box {
    display: flex;
    flex-wrap: wrap;
    background-color: $black-400;
  
    border-radius: 5px;
    padding: 5px;
    transition: all 0.5s ease-in-out;

    & > * {
      margin: 5px;
      flex: 1 1 5%;
      // border: 1px solid black;
    }

    .skill-icon {
      padding: 2px;
      font-size: 27px;
      text-align: center;
      transition: all 0.5s ease-in-out;
      transform-style: preserve-3d; /* Apply 3D transformation to child elements */

      img,
      svg {
        // width: 50px;
        // height: 50px;
        // transform: translateZ(75px); /* Move the image towards the viewer */
        transition: transform 2.5s ease-in-out;
        // max-width: 100%;
        display: block;
        width: 70px;
        height: 70px;
        // padding: 5px;
        object-fit: fill;
        margin-inline: auto;
        margin-bottom: 15px;
        outline: 5px solid white;
        box-shadow: 4px 4px 10px 4px lightgrey;
        border-radius: 50%;
        vertical-align: middle;

      }

      h5 {
        margin-top: -5px;
        font-size: 10px;
        font-weight: 600;
        color: $white-1000;
        transition: all 0.5s ease-in-out;
      }

      &:hover {
        img {
          transform: rotate(360deg);
          box-shadow: $box-shadow-high;
        }
        h5
        {
          color: $accent-color;
        }
      }
    }
  }
}

.card:hover {
  .heading {
    h3 {
      transform: scale(1.1);
      color: $white-1000;
      margin-left: 4px;
    }

    h3::after {
      background: $white-1000;
    }
  }
  p,
  h4 {
    transform: scale(0.95);
  }

  .skill-icons-box {
    background-color: $white-700;
  }
  .skill-icon {
    // transform: scale(1.1);

    h5 {
      color: $black-400;
      transform: scale(1.1);
    }
  }
}
