@import "../../variables";
@import "../../index.scss";

.skill_cls {

  background-color: $bg-light;
  // color: bl;

}

.skill_cls .card {
padding: 0px;
// transition: all 3s ease-in-out;
  
  .skill_heading {
    transition: all 0.3s ease-in-out;
    //  background-color: red;
     padding: 20px;
    h3 {
      font-size: 1.5rem;
      font-weight: 800;
      margin-bottom: 10px;
      transition: all 0.5s ease-in-out;
    }

    p {
      margin-bottom: 15px;
    }
  }

  h4 {
    font-size: 15px;
    transition: all 0.5s ease-in-out;
  }

  .skill_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    border-radius: 5px;
    transition: all 0.5s ease-in-out;

    & > * {
      margin: 11px;
    }

    .skill_item {
   
      display: flex;
      flex-direction: column;
      gap: 5px;

      img {
        height: 60px;
        width: 60px;
 
        stroke-width: 2px;
        stroke: #000;
        filter: drop-shadow(5px 5px 1px #0000005f);
      }
      h5 {
        margin: auto;

      }
    }
  }
}

// .skill_cls .card:hover {
//   box-shadow:$card-box-shadow-high;
//   transform: translate(-6px,-6px);
//   background-color: $accent-color;
// }
