@import "../../variables";

/*!----------------######## ab1: About section starts #######------------------- */

.about_cls{
  // background-color: $bg-main;

}



.about_img,
.about_box {
  flex: 0 0 50%;
  max-width: 100%;
  padding: 10px;
}

/*? ------------About_img -s --------------- */

.about_img {
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  .img_box {
    position: relative;
    overflow: hidden;
    padding: 10px;
    position: relative;

    img {
      // width: 300px;
      position: relative;
      max-width: 400px;
      height: 400px;
      z-index: 1;
      vertical-align: middle;
      border: 10px solid $black-900;
    }
  }
}
.abt_btn_box {
  margin-top: 10px;
  z-index: 11;
  display: flex;
  justify-content: space-between;

  button {
    padding: 10px 20px;
    font-size: 0.8rem;
  }
}
/*? ------------About_img -e --------------- */
.about_box {
  z-index: 1;

  .about_content {
    .about_txt {
      font-size: 16px;
      color: $text-low;

      p {
        line-height: 20px;

        span {
          color: $accent-color;
          font-weight: 900;
        }
      }
    }

    .title_box {
      .titles {
        display: flex;
        margin-top: 12px;
        justify-content: space-between;
        gap: 5px;
        

        .tab_links {
          flex: 0 0 30%;
          font-size: 18px;
          font-weight: 800;
          cursor: pointer;
          position: relative;

          &::after {
            content: "";
            width: 0;
            height: 3px;
            background: $accent-color;
            position: absolute;
            left: 0;
            bottom: -10px;
            transition: 0.7s;
          }

          &.active_link::after {
            width: 60%;
            border-radius: 30px;
          }
        }
      }
    }

    .tab_contents {
      flex: 60%;
      padding-top: 10px;
      font-size: 12px;
      color: $text-low;

      ul {
        li {
          margin: 10px 0;

          a {
            color: $accent-color;
            font-size: 12px;
          }
          span {
            /* color: red; */
            color: $white-1000;
            font-weight: 600;
            margin-right: 10px;
            font-size: 15px;
          }
        }
      }
    }
  }
}

.tab_contents {
  display: none;
}

.tab_contents.active_tab {
  display: flex;
}

/*!----------------######## ab1: About 
n ends #######------------------- */

@media (max-width: 960px) {
  .about_img,
  .about_box {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 20px 0px;
  }
}
@media (max-width: 895px) {
  .about_cls .section_title {
    text-align: center;
  }
}

@media (max-width: 550px) {
  .about_img {
    .img_box {
      padding: 10px 5px;
      img {
        width: 100%;
        height: 320px;
        z-index: 1;
      }
    }
  }
}
