@import "../../variables";
@import "../../index.scss";
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css?  family=Lora:400,400i,700,700i");

.home_cls {
    // background-color: $bg-light;
    background-color: #fff7ee;
    // min-height: 100vh;
    --bkg: #5eb3fd;
    --white: #e7e6e6;
    // background-color: red;

    // min-height: 100vh;
    // z-index: 1;
    overflow: hidden;
    position: relative;
    color: black;

    .home_cntr {
        //  background-color: red;
        //  position: relative;
        //  overflow: hidden;
    }
}

.home_cls .row {
    // flex: 0 0 50%;
    // background-color: gold;
    padding: 20px;
    // padding-top: 100px;
    justify-content: center;
}
.home_txt {
    // background-color: rgb(174, 97, 97);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 100%;
    padding: 20px;
    padding-top: 90px;
    // background-color: red;
    line-height: 4rem;

    h3 {
        color: #686858;
        margin-bottom: 16px;
        font-size: 23px;
        font-weight: 600;
        background-color: #5eb3fd;
        // font-family: 'sans-serif';
        // font-family: 'Courier New', Courier, monospace;
        // line-height: 140%;

        span {
            font-size: 35px;
            padding: 5px;
            animation: wave-animation 2s infinite;
            transform-origin: 70% 70%;
            display: inline-block;
        }
    }

    .my-name {
        width: 100vw;
        height: 100%;
        display: flex;
        justify-content: center;
        overflow: hidden;

        .title1 {
            align-items: center;

            h1 {
                font-size: 5rem;
                font-weight: 900;
                font-family: "Montserrat", sans-serif;
                color: black;
            }
        }

        .ghost {
            width: 2rem;
            height: 3rem;
            background-color: var(--white);
            background-image: radial-gradient(ellipse at 35% 40%, #000 8%, transparent 0%),
                radial-gradient(ellipse at 65% 40%, #000 8%, transparent 0%),
                radial-gradient(ellipse at 50% 60%, #000 8%, transparent 0%);
            border-radius: 100% / 70% 70% 0% 0%;
            transform: translateX(1100em) rotateZ(-90deg);
            position: relative;
            opacity: 0.9;
            mix-blend-mode: exclusion;
            animation: ghostMove 4s ease-out infinite;

            div {
                position: absolute;
                width: 20%;
                background-color: var(--white);
                background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");
                &:nth-of-type(1) {
                    height: 7vmin;
                    left: 0;
                    bottom: -6vmin;
                    border-radius: 100% / 0% 0% 50% 50%;
                }
                &:nth-of-type(2),
                &:nth-of-type(4) {
                    height: 4vmin;
                    left: 20%;
                    bottom: -3vmin;
                    border-radius: 100% / 50% 50% 0% 0%;
                    background-color: transparent;
                }
                &:nth-of-type(3) {
                    height: 4vmin;
                    left: 40%;
                    bottom: -3.95vmin;
                    border-radius: 100% / 0% 0% 60% 60%;
                    background-color: var(--white);
                }
                &:nth-of-type(4) {
                    left: 60%;
                }
                &:nth-of-type(5) {
                    height: 3vmin;
                    left: 80%;
                    bottom: -2.9vmin;
                    border-radius: 100% / 0% 0% 70% 70%;
                    background-color: var(--white);
                }
            }
        }
    }

    h2 {
        // color: #000000a7;
        // background-color: red;
        margin-top: 30px;
        margin-bottom: 60px;
        font-size: 1.3rem;
        font-weight: 700;
        line-height: 2rem;
        text-transform: capitalize;

        // span1,
        // span2 {
        //     // background-color: $yellow-1000;
        //     // padding: 4px 26px;

        //     // box-shadow: $new-box-shadow-low;
        //     border-radius: 40px;
        //     text-align: center; /* Center the content horizontally */

        //     img {
        //         width: 60px;
        //         height: 60px;
        //         display: inline-block; /* Display the images as inline-block */
        //         vertical-align:middle; /* Vertically center the images */
        //         animation: fadeIn 1s infinite; /* 2-second fade animation */
        //         // filter: drop-shadow(5px 5px 1px #0000005f);
        //         margin-bottom: 10px;

        //         filter: drop-shadow(14px 14px 3px rgba(0, 0, 0, 0.3725490196));
        //     }
        // }

        span {
            // background-color: red;

            img {
                height: 15px;
                width: 15px;
                vertical-align: middle;
                animation: rotation 5s infinite linear;
                // animation: wave-animation 2s infinite;
                // color: #fa8000;
            }
        }
    }

    h4 {
        font-size: 18px;
        font-weight: 600;
        line-height: 140%;

        span3 {
            white-space: nowrap;
            position: relative;
            color: #fa8000;

            &::after {
                content: "";
                white-space: nowrap;
                // background-color: red;
                position: absolute;
                left: 0;
                bottom: 0;
                background-image: url("../../assets/curved\ line.svg");
                background-position: center;
                background-repeat: no-repeat;
                background-position: center;
                background-size: 100%;
                height: 100%;
                width: 100%;
                margin-bottom: -1em;
                animation: lineAnimation 0.7s ease-in-out 0s both;
            }
        }
    }
}

.btn_ctnr {
    // cursor: pointer;
    margin-top: 15px;
    margin-bottom: 50px;
    z-index: 2;
    position: relative;

    a {
        display: block;
        color: #fff;
        position: relative;
        // text-decoration: none;
        font-size: 1.1275rem;
        font-weight: 600;
        padding: 1rem 1.3rem;
        border-radius: 30px;
        background-color: #fa8000;
        box-shadow: 4px 4px #000;
        transition: all 0.3s ease-in-out;

        cursor: pointer;

        color: #fff;

        text-transform: capitalize;
        background-color: #fa8000;
        border: 2px solid transparent;
        border-radius: 8rem;

        transition: all 0.2s ease-in-out;

        &:hover {
            border-radius: 15px;
            border-color: #fa8000;
            background-color: transparent;
            color: #fa8000;
            transform: scale(1.05);
            // box-shadow: 5px 5px #000;
        }

        &:active {
            box-shadow: 2px 2px #000;
            // padding: .7rem 1rem;
            // font-size: 0.5rem;
            transform: scale(0.7);
            border-radius: 8rem;
        }
    }
}

@keyframes wave-animation {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(14deg);
    } /* The following five values can be played with to make the waving more or less extreme */
    20% {
        transform: rotate(-8deg);
    }
    30% {
        transform: rotate(14deg);
    }
    40% {
        transform: rotate(-4deg);
    }
    50% {
        transform: rotate(10deg);
    }
    60% {
        transform: rotate(0deg);
    } /* Reset for the last half to pause */
    100% {
        transform: rotate(0deg);
    }
}
@keyframes lineAnimation {
    0% {
        transform: scaleX(0); /* Start with no width */
    }
    100% {
        transform: scaleX(1); /* End with full width */
    }
}

.star_icon1 {
    position: absolute;
    top: 30vh;
    left: 70px;
    height: 30px;
    width: 30px;
    animation: wave-animation 2s infinite;
}
.star_icon2 {
    position: absolute;
    top: 70vh;
    right: 90px;
    height: 30px;
    width: 30px;
    animation: rotation 2s infinite;
}

.curl_Arrow {
    position: absolute;
    top: 60vh;
    left: -20px;
    height: 270px;
    width: 140px;
    z-index: 9;
}

@media (max-width: 850px) {
    // .star_icon1, .star_icon2,.curl_brac1,.curl_brac2,.curl_Arrow{
    //    display: none;
    // }
}
@media (max-width: 550px) {
    .star_icon1,
    .star_icon2,
    .curl_Arrow {
        display: none;
    }

    .home_txt {
        // background-color: rgb(174, 97, 97);
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
        flex: 100%;
        padding: 20px;
        padding-top: 90px;
        // background-color: red;
        // line-height: 3rem;

        h3 {
            color: #686858;
            margin-bottom: 16px;
            font-size: 20px;
            font-weight: 600;
            // font-family: 'sans-serif';
            // font-family: 'Courier New', Courier, monospace;
            // line-height: 140%;

            span {
                padding: 2px;
                font-size: 23px;
                animation: wave-animation 2s infinite;
                transform-origin: 70% 70%;
                display: inline-block;
            }
        }

        .my-name {
            .title1 {
                h1 {
                    font-size: 3rem;
                }
            }

            .ghost {
                margin-top: 45px;
                width: 2rem;
                height: 2rem;

                animation: ghostMove 7s ease-out infinite;
            }
        }

        h1 {
            font-size: 3.3rem;
        }

        h2 {
            font-size: 1.2rem;
        }

        h4 {
            margin-top: 20px;
        }
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.wave {
    display: block;
    position: relative;
    height: 200px;
    width: 100%;
    background-color: white;

    // background-color: red;
}

@keyframes ghostMove {
    0% {
        transform: translateX(35em) rotateZ(-90deg);
    }
    100% {
        transform: translateX(-90em) rotateZ(-90deg);
    }
}
