@import "../../variables";

.home_cls {

    background-color: #f9f5f2;
    // min-height: 150vh;
    color: black;

}

.spiral {
    position: absolute;
}
.home_cntr {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 60px;

    .rainbow {
        transform: scale(0.2) rotate(40deg);
        position: absolute;
        top: 50px;
        right: 20px;
    }

    .spiral {
        transform: scale(0.2) rotate(-40deg);
        position: absolute;
        top: 50px;
        left: 20px;
    }
}

.grid_box {
    background-color: #eeff7c;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 5px 6px black;

    height: 80vh;
    width: 96%;
    display: flex;
    // align-items: flex-end;
    justify-content: center;

    // background: #333;
    background-image: linear-gradient(rgba(14, 14, 14, 0.04) 0.1em, transparent 0.1em),
        linear-gradient(90deg, rgba(0, 0, 0, 0.04) 0.1em, transparent 0.1em);
    background-size: 2em 2em;

    .home_txt {
        padding-top: 60px;
        // background-color: red;
        line-height: 3rem;

        h3 {
            font-size: 25px;

            span {
                font-size: 35px;
                box-shadow: 10px 10px 10px solid black;
            }
        }

        h1 {
            color: #ff5a34;
            text-shadow: 2px 3px black;
            font-size: 50px;
            letter-spacing: 2px;
            -webkit-text-stroke: 1px rgb(151, 80, 80);
            text-transform: uppercase;
            font-family: sans-serif;
            font-weight: 900;
        }
    }

    
}

.resume_btn {
    background-color: red;
    height: 80px;
    width: 80px;
    border-radius: 100%;
    position: absolute;
    bottom: calc(100% - 83vh);
    right: 80px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px solid black;
    font-size: 13px;
    font-weight: 600;
    animation: rotate 5s linear infinite;

    &::after{
        font-family: "Font Awesome 5 Free";
        content: "\f178";
        font-size: 19px;
     

        // content: "";
        height: 40px;
        width: 40px;
        background-color:#eeff7c;
        border-radius: 50%;
        position: absolute;

      
    }

    li {
        list-style: none;
        position: absolute;
        text-align: center;
        transform: rotate(calc(30deg * var(--tm)));
        inset: 1px;
        color: white;
    }

}


@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
