@import "../../variables";

.home_cls {
    // max-height: 100vh;
    // background-image: url("../../assets/Background-imgs/bg3-bw.jpg");
}

.home-banner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    background-image: url("../../assets/Background-imgs/bg3.jpg");

    width: 100%;
    height: 100vh;

    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
}

.overlay:before {
    background-color: rgba(0, 0, 0, 0.3);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.overlay > div {
    position: relative;
    z-index: 5;
}


.hb-typo {
    padding: 10px;
    // background-color: green;
    margin-bottom: 10px;

    h6 {
        font-size: 1.2rem;
    }
    h1 {
        font-size: 4rem;
        font-weight: 900;
        color: transparent;
        background-image: $grad-main;
        background-clip: text;
        -webkit-background-clip: text;

        // margin-bottom: 15px;

        // span
        // {
        //     color: $accent-color;
        //     font-weight: 100;
        // }
    }
    h3 {
        font-size: 2.3rem;
        font-weight: 500;
        .prof {
        }
    }
}

.quote_box {
    position: absolute;
    bottom: 18px;
    right: 10px;
    padding: 10px;

    p {
        font-size: 0.9rem;
        font-weight: 400;
    }
}

@media (max-width: 500px) {
    .hb-typo {
        // font-size: 20px;
        margin-top: -110px;
    }
}
