

  :root
{
    --bg-light:#232323;
    --bg-main:#131416;
    --text-high:#d88135;
    --text-low:rgba(255, 255, 255, 0.721);
    --white:#fff;

}
  

  .home_cls {

      font-family: "Nunito Sans";
      position: relative;
      z-index: 2;
      overflow-x: hidden;
      /* padding-top: 80px; */
      background-color: rgb(0, 0, 0);
      min-height: 100vh;



      /* background:  hsla(0, 0%, 0%, 0.823) url("/src/assets/bg3-bw.jpg") ; */
      height: 100%;

      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;


  }

  .home_txt {
      /* background-color: rgba(74, 83, 83, 0.452); */
      position: absolute;
      /* width: 1708px; */
      /* height: 658px; */
      left: 78px;
      top: 150px;
      z-index: 22;




  }

  /*! -----------greeting---------------- */

  .home_txt .greet_box {
      /* background-color: rgba(250, 235, 215, 0.37); */
      margin-bottom: 40px;
  }

  .greet_box .greetings {
      font-style: italic;
      font-weight: 400;
      font-size: 2.5rem;
      /* line-height: 98px; */
      /* or 131% */

      letter-spacing: 0.08em;


      mix-blend-mode: hard-light;
  }

  .greet_box p {

      font-weight: 400;
      margin-left: 40px;
      font-size: 1.5rem;
      /* line-height: 98px; */
      /* identical to box height, or 218% */

      letter-spacing: 0.08em;

  }

  /*! -----------greeting---------------- */

  /*!--------------- name----------------------- */

  .name_box {
      background-color: rgba(65, 133, 143, 0.37);


  }

  .name_box p {
      font-style: italic;
      font-weight: 200;
      font-size: 1.2rem;
      /* line-height: 98px; */
      /* or 218% */

      letter-spacing: 0.08em;

      color: #FFFFFF;
  }

  .name_box .name {
      /* background-color: rgba(250, 235, 215, 0.501); */

      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;



  }

  .name_box .name h1 {
      /* text-align:center; */
      /* justify-content: end; */

      font-family: 'Nunito Sans';
      font-style: italic;
      font-weight: 800;
      font-size: 4rem;
      line-height: 98px;

      letter-spacing: 0.08em;
  }
  .name_box .name h1 span
  {
    font-weight: 100;
    color: red;
  }


  .name_box .prof_box {
      /* display: block; */
      margin-left: 700px;

  }

  .name_box .prof_box .prof {
      font-weight: 600;
      font-size: 1.5rem;
  }



  /*!--------------- name----------------------- */


  /* ? ----------- social media -s ----------- */

.social_icon {
    position: fixed;
    top: 53%;
    right: 20px;
    transform: translateY(-53%);
    border: 1px solid rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    z-index: 999;
    border-radius: 10px;

}


.social_icon a {
    font-size: 18px;
    display: flex;
    text-align: center;
    padding: 6px;
    margin: 3px;
    color: var(--white);
    transition: all 0.2s ease;
}


.social_icon>a:hover {
    animation: jiggle 1s ease-in-out infinite;
    color:var(--text-high);
    transform: scale(1.2);

}

.social_icon>a:active {
    color: var(--text-low);
    transform: scale(0.7);

}

/*? --------------   social media -e ---------------*/