@import "../../variables";
/*!----------------######## Contact section starts #######------------------- */

.contact_cls {
  /* min-height: 50vh; */
  /* background: #1f1f47; */
}

.contact_cls .section_title .main_title {
  font-size: 1.4rem;
  letter-spacing: normal;
  margin-bottom: -20px;
}

.contact_cls .col-cont-form {
  background-color: rgb(182, 75, 75);

  .contact-form {
    background-color: #33384c;
    display: block;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    padding: 35px;
    position: relative;

    .col1 {
      background-color: green;

      .form-group {
        // background-color: blue;
        margin-bottom: 30px;
        position: relative;

        .form-control {
          //   background-color: red;
          border-color: #1a1a1a;
          border: 1px solid rgba(28, 29, 36, 0.5);
          border-radius: 0;
          box-shadow: none !important;
          color: $white-1000;
          font-size: 15px;
          height: 40px;
        }

        .form-label {
          background: #fff;
          color: #777;
          font-size: 14px;
          font-weight: 400;
          left: 2px;
          margin: 0;
          padding: 0 10px;
          pointer-events: none;
          position: absolute;
          top: 9px;
          transition: all 0.35s ease;
        }
      }

      .col12 {
        background-color: pink;
        .form-group {
          // background-color: blue;
          margin-bottom: 30px;
          position: relative;

          .form-control {
            background-color: red;
          }
        }

        .btn-bar {
          background-color: rgb(52, 206, 35);
          .btn2 {
          }
        }
      }
    }
  }
}

  .ml-auto,
  .mx-auto {
    margin-left: auto !important;
  }
  .my-3 {
    margin-bottom: 1rem !important;
    margin-top: 1rem !important;
  }

  .contact-info {
    background-color: rgb(52, 83, 52);

    .media {
      align-items: flex-start;
      display: flex !important;

      color: $text-low;
      margin-top: 20px;
      // background-color: rgb(76, 76, 145);

      .icon {
        align-items: center;
        background: rgba(220, 150, 90, 0.1);
        border-radius: 50%;
        color: $accent-color;
        display: inline-flex;
        font-size: 24px;
        height: 50px;
        justify-content: center;
        width: 50px;
      }

      .media-txt {
        // background-color: rgb(127, 80, 80);
        justify-content: center;
        margin-left: 5px;

        span1 {
          color: $white-1000;
          font-weight: 900;
        }
      }
    }
  }

  // .contact-form .form-group .form-control {
  //
  // }

  // -------Res--------------

  @media (min-width: 992px) {
    .col-cont-form {
      flex: 0 0 auto;
      width: 50%;
    }
    .col-cont-info {
      flex: 0 0 auto;
      width: 33.33333333%;
    }
  }

  @media (min-width: 768px) {
    .col1 {
      flex: 0 0 auto;
      width: 50%;
    }
  }

