@import "../../variables";
/*!----------------######## Contact section starts #######------------------- */

.contact_cls {
  &.section_padding {
    padding: 30px 20px;
  }
}

.contact_cls .contact-form .row {
  // background-color: #c02f2f;
  gap: 10px;

  & > * {
    // background-color: #2fafc0;
  }
}

.contact_cls .section_title .main_title {
  font-size: 1.4rem;
  letter-spacing: normal;
  margin-bottom: -20px;
}

.ml-auto {
  margin-left: auto !important;
}

.my-3 {
  margin-bottom: 1rem !important;
  margin-top: 1rem !important;
}

.contact_cls .col-cont-form {
  // background-color: rgb(75, 182, 91);

  .contact-form {
    background-color: $black-800;
    display: block;
    box-shadow: $box-shadow-high;
    overflow: hidden;
    padding: 20px;
    position: relative;
  }
}

.col-1 {
  flex: 1;
}
.col-2 {
  // background-color: pink;
  flex: 0 0 auto;
  width: 100%;
  padding: 0;

  textarea {
    resize: vertical;
    min-height: 70px;
  }

  .btn-bar {
    // background-color: rgb(52, 206, 35);
    .btn2 {
      padding: 10px 20px;
    }
  }
}

.form-group {
  // background-color: blue;
  margin-bottom: 10px;
  position: relative;

  input,
  textarea {
    color: $white-1000;

    border: 1px solid #d88135ad;
    background-color: $black-1000;

    font-size: 14px;
    font-family: inherit;
    height: 35px;
    width: 100%;
    padding: 10px;

    // transition: all 0.35s ease;

    &::placeholder {
      color: transparent;
    }

    &:not(:placeholder-shown) ~ .form-label , &:focus ~ .form-label {
      background-color: $black-1000;
      border: 1px solid $accent-color;
      border-radius: 30px;
      font-size: 11px;
      left: 10px;
      top: -10px;
    }

    &:hover,&:focus{
      border: 1.5px solid #d88135;
      background-color: rgb(29, 29, 29);
    }

    &::selection
    {
      background-color: rgb(120, 120, 120);
    }

  


  }

  label {
    background: rgba(0, 0, 0, 0);
    color: $text-low;

    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    left: 2px;
    margin: 0;
    padding: 0 10px;
    pointer-events: none;
    position: absolute;
    top: 7px;
    transition: all 0.35s ease;
  }
}



.contact-info {
  // background-color: rgb(52, 83, 52);

  padding: 20px;
  .media {
    align-items: flex-start;
    display: flex !important;

    color: $text-low;
    margin-top: 25px;
    // background-color: rgb(76, 76, 145);

    .icon {
      align-items: center;
      background: rgba(220, 150, 90, 0.1);
      border-radius: 50%;
      color: $accent-color;
      display: inline-flex;
      font-size: 24px;
      height: 50px;
      justify-content: center;
      width: 50px;
      transition: all 0.3s ease-in-out;
    }

    .media-txt {
      // background-color: rgb(127, 80, 80);
      justify-content: center;
      margin-left: 10px;
      flex: 1 1;
      font-size: 14px;
      transition: all 0.3s ease-in-out;

      span1 {
        color: $white-1000;
        font-weight: 900;
      }
    }

    &:hover {
      // color: $white-1000;

      .icon {
        transform: scale(0.8);
        background-color: $accent-color;
        color: $white-1000;
      }
      .media-txt {
        transform: translateY(-5px) scale(1.1);
        margin-left: 15px;
      }
    }
  }
}

.col-cont-form {
  flex: 0 0 auto;
  width: 50%;
}
.col-cont-info {
  flex: 0 0 auto;
  width: 40%;
}

// -------Res--------------

@media (max-width: 970px) {
  .contact_cls {
    &.section_padding {
      padding: 20px 0px;
    }
  }
  .col-cont-form {
    flex: 0 0 auto;
    width: 100%;
  }
  .col-cont-info {
    flex: 0 0 auto;
    width: 100%;
  }
}

@media (max-width: 700px) {
  .col-1 {
    flex-basis: 100%;
  }
}
