@import "../../variables";

// !/* ----------- social media -s ----------- */

.social-icons {
    position: fixed;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    z-index: 100;
    // background-color: red;

    .social_box {
        background-color: rgba(255, 255, 255, 0.5);
        // backdrop-filter: blur(10px);
        // -webkit-backdrop-filter: blur(10px);

        // background: radial-gradient(circle, rgba(255, 166, 0, 0.8) 20%, rgba(255, 99, 71, 0.8) 80%);

        // display: flex;
        // justify-content: center;

        // flex-direction: column;

        border: 1px solid white;
        padding: 4px;
        border-radius: 10px;
        gap: 5px;
    }

    a {
        display: flex;
        justify-content: center;

        font-size: 1.5rem;
        color: $white-1000;
        padding: 5px;

        transition: all 0.3s ease-in-out;
        
        
        &:nth-child(1):hover {
            //linkedin
            color: #0a66c2;
            transform: scale(1.1);
        }
        &:nth-child(2):hover {
            //github
            color: #171515;
            transform: scale(1.1);
        }

        &:nth-child(3):hover {
            //instagram

            background-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);

            transform: scale(1.1);
        }
     
        &:nth-child(4):hover {
            //whatsapp
            color: rgb(4, 239, 4);
            transform: scale(1.1);
        }


        &:active {
            color: $black-400;
            transform: scale(0.8);
        }
     
    }
}


/*? --------------   social media -e ---------------*/
