@import "../../variables";

// !/* ----------- social media -s ----------- */

.social-icons {
    position: fixed;
    top: 50%;
    right: -50px;
    transform: translateY(-50%);
    z-index: 100;
    transition: all 0.3s ease-in-out;

    &.show {
        right: 10px;
    }
    &:hover {
        // right: 10px;
    }

    .social-toggle {
        position: absolute;
        z-index: 999;
        top: 50%;
        right: 55px;    
        transform: translateY(-50%);

        display: flex;
        width: 40px;
        height: 40px;
        justify-content: center;
        align-items: center;

        background-color: rgba(255, 255, 255, 0);
        border: 1.5px solid $accent-color;

        border-radius: 40%;
        border-bottom-right-radius: 0;
        color: $accent-color;
        cursor: pointer;
        animation: glowing 1.5s infinite;

        transition: all 0.3s ease-in-out;

        img {
            width: 30px;
            height: 30px;
            padding: 2px;

            transition: all 0.5s ease-in-out;
        }

        &:hover {
            //  transform: scale(1.1);
            width: 45px;
            height: 45px;
            // animation: none;

            img {
                width: 35px;
                height: 35px;
            }
        }
    }

    .social-box {
        background-color: rgba(215, 215, 215, 0.514);

        width: 100%;
        border: 3px solid $accent-color;
        padding: 4px;
        border-radius: 10px;
        gap: 5px;
    }

    a {
        display: flex;
        justify-content: center;

        font-size: 1.3rem;
        color: $white-1000;
        padding: 4px;
        margin: 3px;
        border-radius: 100%;
        transition: all 0.2s ease-in-out;

        &:hover {
            transform: scale(1.2);
            // border-radius: 100%;
        }

        &:nth-child(1):hover {
            //linkedin
            background-color: $linkedin;
        }
        &:nth-child(2):hover {
            //github
            background-color: $github;
        }

        &:nth-child(3):hover {
            //instagram
            background: $instagram;
        }

        &:nth-child(4):hover {
            //whatsapp
            background-color: $whatsapp;
        }

        &:active {
            color: $black-400;
            transform: scale(0.8);
        }
    }
}

@media only screen and (max-width: 768px) {
}

/*? --------------   social media -e ---------------*/
