@import "../../variables";

// !/* ----------- social media -s ----------- */


.social-icons {
    position: fixed;
    top: 50%;
    right: -50px;
    transform: translateY(-50%);
    z-index: 100;
    transition: all .3s ease-in-out;
  
    &.show {
      right: 10px;
  
      .social-toggle::before {
        content: '\f054'; /* Change the content to the new arrow icon */
        
      }
    }
  
    .social-toggle {
      position: absolute;
      z-index: 999;
      top: 50%;
      right: 50px;
      transform: translateY(-50%);
      width: 40px;
      height: 40px;
      background-color: rgba(255, 255, 255, 0.782);
      border: 1.5px solid white;
      border-radius: 50%;
      display: flex;
      color: $accent-color;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      animation: glowing 1s infinite;



  
      &::before {
        content: '\f086';
        font-family: 'fontAwesome';
        font-weight: 900;
        font-size: 1.3rem;


      }
    }
  
    
  


    .social-box {
        background-color: rgba(178, 36, 36, 0.801);
  
        width: 100%;
        border: 1.5px solid white;
        padding: 4px;
        border-radius: 10px;
        gap: 5px;
    }

    a {
        display: flex;
        justify-content: center;

        font-size: 1.3rem;
        color: $white-1000;
        padding: 4px;
        margin:3px;
        border-radius: 100%;
        transition: all 0.3s ease-in-out;
        
        &:hover {
            transform: scale(1.2);
            border-radius: 100%;
        }
        
        &:nth-child(1):hover {
            //linkedin
            background-color: $linkedin;
        }
        &:nth-child(2):hover {
            //github
            background-color:$github;
        }

        &:nth-child(3):hover {
            //instagram
            background:$instagram;
        }
     
        &:nth-child(4):hover {
            //whatsapp
            background-color: $whatsapp;
        }


        &:active {
            color: $black-400;
            transform: scale(0.8);
        }
     
    }
}


@media only screen and (max-width: 768px) {
    .social-icons {
        // display: none;
        // position: absolute;
    }
}


/*? --------------   social media -e ---------------*/
