  @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');

  .home_cls {

      font-family: "Nunito Sans";
      position: relative;
      z-index: 1;
      overflow-x: hidden;
      /* padding-top: 80px; */
      background-color: rgb(51, 46, 46);
      min-height: 100vh;



      background: url("/src/assets/bg1.png");

      height: 100%;

      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;


  }

  .home_txt {
      /* background-color: rgba(74, 83, 83, 0.452); */
      position: absolute;
      /* width: 1708px; */
      /* height: 658px; */
      left: 78px;
      top: 150px;




  }

  /*! -----------greeting---------------- */

  .home_txt .greet_box {
      /* background-color: rgba(250, 235, 215, 0.37); */
      margin-bottom: 40px;
  }

  .greet_box .greetings {
      font-style: italic;
      font-weight: 200;
      font-size: 2.5rem;
      /* line-height: 98px; */
      /* or 131% */

      letter-spacing: 0.08em;


      mix-blend-mode: hard-light;
  }

  .greet_box p {

      font-weight: 400;
      margin-left: 40px;
      font-size: 1.5rem;
      /* line-height: 98px; */
      /* identical to box height, or 218% */

      letter-spacing: 0.08em;

  }

  /*! -----------greeting---------------- */

  /*!--------------- name----------------------- */

  .name_box {
      background-color: rgba(65, 133, 143, 0.37);


  }

  .name_box p {
      font-style: italic;
      font-weight: 200;
      font-size: 1.2rem;
      /* line-height: 98px; */
      /* or 218% */

      letter-spacing: 0.08em;

      color: #FFFFFF;
  }

  .name_box .name {
      /* background-color: rgba(250, 235, 215, 0.501); */

      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;



  }

  .name_box .name h1 {
      /* text-align:center; */
      /* justify-content: end; */

      font-family: 'Nunito Sans';
      font-style: italic;
      font-weight: 800;
      font-size: 4rem;
      line-height: 98px;

      letter-spacing: 0.08em;
  }
  .name_box .name h1 span
  {
    font-weight: 100;
    color: red;
  }


  .name_box .prof_box {
      /* display: block; */
      margin-left: 700px;

  }

  .name_box .prof_box .prof {
      font-weight: 600;
      font-size: 1.5rem;
  }



  /*!--------------- name----------------------- */