/*!----------------######## sk1: Skill section starts #######------------------- */

:root {
  --bg-light: #232323;
  --bg-main: #131416;
  --text-high: #d88135;
  --text-low: rgba(255, 255, 255, 0.721);
  --white: #fff;
}

.skill_cls {
  /* min-height: 100vh; */
  background-color: #3d4053;
}

.skill_card {
  background-color: rgb(54, 217, 70);
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  /* text-align: center; */
  /* align-items: center; */

  padding: 10px;
}

.skill_card .skill_type {
  background-color: rgba(216, 161, 170, 0.679);
  /* padding: 10px; */

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex: 0 0 30.33%;
  max-width: 30.33%;

  padding: 15px;
  margin: 10px;
}

.skill_type .heading {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* background-color: rgb(38, 38, 196); */
  /* padding: 5px; */

  .skill-type-icon {
    font-size: 2rem;
    /* background-color: rgb(187, 87, 87); */
    margin-right: 10px;
    align-items: center;
    display: flex;
  }
  h3 {
    color: var(--text-high);
    float: right;
    font-size: 1rem;
    font-weight: 800;
    /* line-height: 2rem; */
  }

  h3::after {
    display: block;
    background: var(--white);
    bottom: 0;
    content: "";
    height: 3px;
    left: 0;
    width: 30px;
    border-radius: 10px;
  }

}

.skill_type p {
  margin-top: 10px;
  display: block;
}

.skill_type h4 {
  margin-top: 10px;
}

.skill_type .skill-icons-box {
//   margin-top: 10px;
  background-color: #3d4053;
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  text-align: center;
  align-items: center;

  .skill-icon {
    /* margin-top:10px; */
    margin: 5px;
    font-size: 1.5rem;
    // background-color: red;
  }
  
  h5
  {
    margin-top: -5px;
    font-size: 8px;
    font-weight: 600;
    color: var(--text-low);
  }
  

}
