/*!----------------######## sk1: Skill section starts #######------------------- */


:root {
    --bg-light: #232323;
    --bg-main: #131416;
    --text-high: #d88135;
    --text-low: rgba(255, 255, 255, 0.721);
    --white: #fff;

}

.skill_cls {
    /* min-height: 100vh; */
    background-color: #3d4053;
}

.skill_card {
    background-color: rgb(54, 217, 70);
    display: flex;
    flex-wrap: wrap;

    
    justify-content: center;
    /* text-align: center; */
    /* align-items: center; */

    padding: 10px;

}

.skill_type {

    background-color: rgba(216, 161, 170, 0.679);
    /* padding: 10px; */

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex: 0 0 30.33%;
    max-width: 30.33%;
   
    padding: 15px;
    margin: 10px;



  
}

.skill_type h3 {
    color: var(--text-high);

    font-size: 18px;
    font-weight: 800;
    /* cursor: pointer; */
    /* position: relative; */
    margin-top: 15px;
    line-height: 2rem;

}
/* .skill_type h3::after
{   
    background: var(--white);
    bottom: 0;
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    width: 30px;
    
} */

.skill_type p {
    margin-top: 10px;
    display: block;
}

.skill_type h4
{
    margin-top: 10px;
}

.skill_card .skill-icons-box
{
    margin-top: 10px;
    background-color: #3d4053;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;

}
.skill-icons-box .skill-icon
{
    /* margin-top:10px; */
    margin: 20px;
    font-size: 20px;

}

