
// --------------- Colors ---------------

// Background Colors
$bg-light: #232323;
$bg-main: #131416;
$home-bg:black;
$abt-bg:black;
$skill-bg: #262835;
$proj-bg:rgb(35, 87, 87);
$contact-bg:black;



//text Colors
$accent-color:#d88135;
$text-low: rgba(255, 255, 255, 0.721);
$main1: #404bc7;

//Shadows
$box-shadow-low: 0 5px 15px rgba(0, 0, 0, 0.2);
$box-shadow-high: 0 10px 10px rgba(111, 108, 108, 0.5);



//Shades
$white-1000: #fff;
$white-700:rgba(255, 255, 255, 0.799);
$black-1000: black;
$black-900: rgba(48, 46, 46, 0.900);
$black-400: #656f87;
$black-200: rgba(93, 72, 72, 0.166);
$black-100: #f7f7f7;
$black-alpha-100: rgba(0, 0, 0, 0.5);


