@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;600&display=swap");
@import "variables";

/*!----------------#### Global Declarations ####-----------------------  */

/*?-------------------Body layout -s ---------------- */

html {
  scroll-behavior: smooth;
  /* scroll-snap-type: y mandatory; */
  text-rendering: optimizeLegibility;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
}


body {
  font-size: 13px;
  color: $black-1000;
  overflow-x: hidden;
  font-family: "Work Sans", sans-serif;

  background: $bg-light;
  z-index: 1;
  position: relative;
}

/*? -------------------Body -e----------------------- */

/*?------------------- Adjustments -s-------------------- */

ul {
  list-style: none;
}

section {
  display: block;
}
.section_padding {
  padding: 25px 15px;
}

.container {
  max-width: 1140px;
  margin: 40px auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.justify_content_cntr {
  justify-content: center;
}

.space_btw {
  justify-content: space-between;
}

.align_cntr {
  align-items: center;
}

.txt_align {
  text-align: center;
}

/*?------------------- Adjustments -e -------------------- */

/*?-------------------   Buttons -s   -------------------- */

button {
  background-color: $yellow-1000;
  color: $black-1000;
  cursor: pointer !important;
  display: inline-block;
  z-index: 1;

  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: capitalize;

  padding: auto;

  border: $bor-1;
  border-radius: $br-20;
  box-shadow: $btn-box-shadow-low;

  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);

  a {
    color: $black-1000;
  }

  &:hover {
    box-shadow: $btn-box-shadow-high;
    transform: translate(-4px, -4px);
  }

  &:active {
    box-shadow: $btn-box-shadow-low;
    transform: translate(0px, 0px);
  }
}

/*?-------------------   Buttons -e   -------------------- */

/*?------------------- Section Title -s -------------------- */

.section_title {
  h2 {
    margin: 0;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 2px;
  }

  h4 {
    color: #52514e;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 6px;
  }

  h3 {
    font-size: 27px;
    font-weight: 600;
    margin-bottom: 6px;
  }

  .line {
    display: inline-block;
    background-color: $accent-color;
    border: 0.1px solid black;
    border-radius: 50px;
    box-shadow: 0.7px 1.5px rgba(0, 0, 0, 0.501);
    width: 50px;
    height: 5px;
    font-weight: 900;
    margin-bottom: 16px;
  }
}
/*?------------------- Section Title -s -------------------- */

/* ?---------------  Scroll Bar -s    ------------------- */

::-webkit-scrollbar {
  width: 0.8rem;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.445);
}

::-webkit-scrollbar-thumb {
  background-color: $accent-color;
  border-radius: 0.6rem;
  border: 0.2rem solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-track:hover {
  background-color: $black-400;
}

/*? ---------------- Scroll Bar -e------------------- */

/*? ------------ GLobal card box -s ---------------*/
.card {
  position: relative;
  flex: 0 0 29%;

  border: $bor-1;
  box-shadow: $card-box-shadow-low;
  border-radius: $br-10;
  // padding: 20px;
  margin: 20px;
  overflow: hidden;
  // transition: all 0.4s ease-in-out;

  box-sizing: border-box;

 
  padding: 32px 24px;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  

  &:hover {
    box-shadow: $card-box-shadow-high;
    transform: translate(-6px, -6px);
    // background-color: $accent-color;
  }
}
/* Responsive card */
@media (max-width: 1122px) {
  .card {
    flex: 0 0 40%;
    // max-width: 40%;
  }
}

@media (max-width: 800px) {
  .card {
    flex: 0 0 70%;
    // max-width: 70%;
  }
}
@media (max-width: 500px) {
  .card {
    flex: 0 0 100%;
    // max-width: 100%;
    margin: 20px 0px;
  }
}

/*? ------------ GLobal card box -e ---------------*/

/*!----------------######## gd1:Global Declarations Ends #######------------------- */

/* TODO --------------- <<<< An1: Animations -s >>>> --------------------- */

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(1.1);
  }

  to {
    opacity: 1;
    transform: scale(0.9);
  }
}

@keyframes jiggle {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }

  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }

  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

@keyframes btn_bouncy {
  0% {
    top: 0em;
  }

  40% {
    top: 0em;
  }

  43% {
    top: -0.7em;
  }

  46% {
    top: 0em;
  }

  48% {
    top: -0.4em;
  }

  50% {
    top: 0em;
  }

  100% {
    top: 0em;
  }
}

@keyframes glowing {
  0% {
    box-shadow: 0 0 8px #f4c003, 0 0 8px #dab10e, 0 0 8px #f4e003;
  }

  50% {
    box-shadow: 0 0 8px #b8ca54, 0 0 8px #747a09, 0 0 8px #363a07;
  }

  100% {
    box-shadow: 0 0 8px #f4c003, 0 0 8px #dab10e, 0 0 8px #f4e003;
  }
}

@keyframes hover_anim {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }

  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-20px);
  }

  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}

@keyframes wave_hand {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(14deg);
  }

  20% {
    transform: rotate(-8deg);
  }

  30% {
    transform: rotate(14deg);
  }

  40% {
    transform: rotate(-4deg);
  }

  50% {
    transform: rotate(10deg);
  }

  60% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.active {
  opacity: 1;
  transform: scale(1);
}

/* TODO --------------- <<<< An1: Animations -e >>>> --------------------- */

/* ! -----------------++++++ re1: Responsive -s ++++++------------------- */

/*TODO  re1160  */
@media (max-width: 1160px) {
}

//?  re85  */
@media (max-width: 895px) {
  .section_padding {
    padding: 40px 30px;
  }
}
