@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import "variables";

/*!----------------#### Global Declarations ####-----------------------  */

/*?-------------------Body layout -s ---------------- */

html {
  scroll-behavior: smooth;
  /* scroll-snap-type: y mandatory; */
  text-rendering: optimizeLegibility;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
}

body {

  font-size: 13px;
  font-weight: 400;
  color: $white-1000;
  overflow-x: hidden;
  font-family: "Nunito", serif;

  background:$bg-main;
  z-index: 1;
  position: relative;
}

body:after
{
  background: $left-bg;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  top: 0;
  width: 32%;
  z-index: -1;
}

@media (max-width: 960px) {
 
  body:after
  {
     display: none;
  }
}

/*? -------------------Body -e----------------------- */

@mixin flex-prop {
  display: flex;
}
/*?------------------- Adjustments -s-------------------- */

ul {
  list-style: none;
}

section {
  display: block;
}
.section_padding {
  padding: 25px 0px;
}

.container {
  max-width: 1140px;
  margin: 40px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}
// .row > *
// {
//   flex: 1 1 33%;
// }

.justify_content_cntr {
  justify-content: center;
}

.space_btw {
  justify-content: space-between;
}

.align_cntr {
  align-items: center;
}

.txt_align {
  text-align: center;
}

/*?------------------- Adjustments -e -------------------- */

/*?-------------------   Buttons -s   -------------------- */

button {
  background-color: $accent-color;
  border: none;
  box-shadow: $box-shadow-low;
  cursor: pointer !important;
  display: inline-block;
  font-size: 13px;
  font-weight: 600;
  overflow: hidden;
  padding: auto;
  z-index: 1;
  transition: all 0.25s ease;

  a {
    color: $bg-light;
  }
}

button:hover {
  box-shadow: $box-shadow-high;
  background-color: $bg-light;
  color: $accent-color;
}
button:hover a {
  color: $accent-color;
}

/*?-------------------   Buttons -e   -------------------- */

/*?-------------------   popup -s   -------------------- */

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  font-size: 10px;
  display: flex;
  width: 100%;

  text-align: center;
  justify-content: center;

  background-color: #555;
  color: #fff;
  border-radius: 6px;
  padding: 3px;

  position: absolute;

  z-index: 11;
  bottom: 125%;
  left: 50%;
  margin-left: -20px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.popup:hover .popuptext {
  visibility: visible;
  animation: fadeIn 0.5s;
}

/*?-------------------   popup -e   -------------------- */

/*?------------------- Section Title -s -------------------- */

.section_title {
  margin-bottom: 20px;
}
.main_title {
  // font-family: 'Nunito', serif;
  color: $white-1000;
  font-size: 40px;
  font-weight: 800;
  margin-top: 5px;
  line-height: 54px;
  letter-spacing: 3px;

  text-shadow: 0px 0px 4px rgba(202, 228, 225, 0.492), 0 0 4px rgba(202, 228, 225, 0.209);
}

.sub_title {
  font-size: 15px;
  font-weight: 400;
  color: $text-low;
}

.line {
  display: inline-block;
  background-color: $accent-color;
  border-radius: 50px;
  width: 33px;
  height: 3px;
}

/*?------------------- Section Title -s -------------------- */

/* ?---------------  Scroll Bar -s    ------------------- */

::-webkit-scrollbar {
  width: 0.8rem;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.445);
}

::-webkit-scrollbar-thumb {
  background-color: $accent-color;
  border-radius: 0.6rem;
  border: 0.2rem solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-track:hover {
  background-color: $black-400;
}

/*? ---------------- Scroll Bar -e------------------- */

/*? ------------ GLobal card box -s ---------------*/

.card {
  position: relative;
  flex: 0 0 29%;
  // max-width: 29%;
  // height: 200px;
  padding: 20px;
  margin: 20px;
  overflow: hidden;
  transition: all 0.4s ease-in-out;

  background: $black-900;
  box-sizing: border-box;
  box-shadow: $box-shadow-high;

  .content {
    z-index: 2;
    position: relative;
  }
  .layer {
    z-index: 1;
    position: absolute;
    top: calc(100% - 3px);
    height: 100%;
    width: 100%;
    left: 0;
    background: $grad-main;
    transition: 0.5s;
  }

  &:hover .layer {
    top: 0;
  }
}

/* Responsive card */
@media (max-width: 1122px) {
  .card {
    flex: 0 0 40%;
    // max-width: 40%;
  }
}

@media (max-width: 800px) {
  .card {
    flex: 0 0 70%;
    // max-width: 70%;
  }
}
@media (max-width: 500px) {
  .card {
    flex: 0 0 100%;
    // max-width: 100%;
  }
}

/*? ------------ GLobal card box -e ---------------*/

/*!----------------######## gd1:Global Declarations Ends #######------------------- */

/* TODO --------------- <<<< An1: Animations -s >>>> --------------------- */

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes jiggle {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }

  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }

  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

@keyframes btn_bouncy {
  0% {
    top: 0em;
  }

  40% {
    top: 0em;
  }

  43% {
    top: -0.7em;
  }

  46% {
    top: 0em;
  }

  48% {
    top: -0.4em;
  }

  50% {
    top: 0em;
  }

  100% {
    top: 0em;
  }
}

@keyframes glowing {
  0% {
    box-shadow: 0 0 8px #f4c003, 0 0 8px #dab10e, 0 0 8px #f4e003;
  }

  50% {
    box-shadow: 0 0 8px #b8ca54, 0 0 8px #747a09, 0 0 8px #363a07;
  }

  100% {
    box-shadow: 0 0 8px #f4c003, 0 0 8px #dab10e, 0 0 8px #f4e003;
  }
}

@keyframes hover_anim {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }

  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-20px);
  }

  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}

@keyframes wave_hand {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(14deg);
  }

  20% {
    transform: rotate(-8deg);
  }

  30% {
    transform: rotate(14deg);
  }

  40% {
    transform: rotate(-4deg);
  }

  50% {
    transform: rotate(10deg);
  }

  60% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.active {
  opacity: 1;
  transform: scale(1);
}

/* TODO --------------- <<<< An1: Animations -e >>>> --------------------- */

/* ! -----------------++++++ re1: Responsive -s ++++++------------------- */

/*TODO  re1160  */
@media (max-width: 1160px) {
}

//?  re85  */
@media (max-width: 895px) {
}
